.dock-demo {
    height: 100vh;
    display: flex;
}

.dock-window {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    /* background-image: url('../../img/code.jpg'); */
    background: linear-gradient(135deg, #708090, #4682B4);
}

.p-dock{
    width: 6%;
}
