.avatar-container {
    display: flex;
    align-items: center;
}

.avatar-image {
    width: 70px;
    height: 70px;
}

.end-container {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
}

.end-container span {
    margin-left: 10px;
}
